@font-face {
  font-family: 'COCOGOOSE';
  src: url(../fonts/COCOGOOSE.ttf);
}

/* @font-face {
  font-family: "COCOGOOSE";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg");
} */

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Regular.ttf);
}

* {
  color: #272a31;
}

body {
  font-family: 'Lato', sans-serif;
}

.fa-facebook-f,
.fa-twitter {
  padding: 0 8px;
  color: white;
  align-self: center;
}

.orange {
  color: #ec5242 !important;
}

.emphasis {
  padding: 10px;
  border: 3px solid #ec5242;
}

.page-header-ui {
  position: relative;
  padding: 10vmax 0;
  background: center / cover no-repeat url("/imgs/IJS20_Global_Header_Gray.jpg");
}

.page-header-ui-title {
  font-family: 'COCOGOOSE';
  font-weight: bold;
  font-size: calc(100% + 4.2vw);
  background: center / cover no-repeat url("/imgs/background@2x.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-header-ui-text {
  font-size: calc(100% + 0.1vw);
  line-height: calc(100% + 1.5vw);
  background-color: #f7f7f7;
  border: 3px solid #fff;
}

.page-header-ui-date {
  font-family: 'COCOGOOSE';
  font-size: calc(100% + 2.1vw);
  font-weight: bold;
}

.page-header-ui-location {
  font-size: 20px;
  line-height: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.red-line {
  background-color: #ec5242;
  border: 1px solid #ec5242;
  width: 50px;
  margin-top: 10px;
  opacity: 100;
}

.ui-pattern {
  background-color: #272a31;
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 0),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.1) 0),
    linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.1) 0);
  background-size: 24px 24px;
  background-position: 0 0, 0 12px, 12px -12px, -12px 0;
}

.program-icon {
  filter: invert(100%);
  max-width: 50px;
}

.program-card {
  max-width: 30vh;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
}

.program-card:hover {
  border: 2px solid white;
}

.speaker {
  clip-path: circle(50%);
}

.speaker-name {
  font-size: calc(100% + 0.5vw);
  font-weight: bold;
}

.speaker-title {
  font-size: calc(80% + 0.1vw);
  font-style: italic;
  color: #ec5242;
}

.speaker-hr {
  width: 20px;
  margin: 5px 0;
}

.speaker-desc {
  font-size: calc(90% + 0.1vw);
}

h4 {
  text-decoration: underline;
}

.gray-bg {
  background-color: #414246;
}

.invert {
  filter: invert(100%);
}

.gray {
  filter: grayscale(100%);
}

.img-responsv {
  max-width: 12vw;
}

.logo-footer {
  filter: invert(100%) grayscale(100%);
}

.text-footer {
  font-size: calc(100% + 0.5vw);
}

/* between 576px and 768px */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .navbar-brand {
    padding: 0 0 0 2%;
    margin: 0;
  }

  .nav-item {
    margin: inherit;
  }

  .page-header-ui-title {
    font-size: calc(100% + 6vw);
  }

  .page-header-ui-date {
    font-size: 4vw;
  }

  .pe-5 {
    padding-right: 1rem !important;
  }

  .ps-5 {
    padding-left: 1rem !important;
  }

  .emphasis {
    padding: 5px;
  }

  .page-header-ui {
    padding: 4vh 0;
  }

  .img-responsv {
    max-width: 16vw;
  }
}

@media only screen and (max-width: 575px) {
  .navbar-nav {
    align-items: center;
  }

  .navbar-brand {
    display: none;
  }

  .page-header-ui-text {
    font-size: calc(80% + 0.1vw);
  }

  .page-header-ui-date {
    font-size: 11vw;
  }

  .px-5 {
    padding: 0 1rem !important;
  }

  .py-3 {
    padding: 0 !important;
  }

  .mb-5 {
    margin-bottom: 2rem !important;
  }

  .emphasis {
    padding: 4px;
  }

  .page-header-ui {
    padding: 2vh 0;
  }

  .img-responsv {
    max-width: 30vw;
  }
}
